// Global default params, used in configs
params {

    // Input options
    input = null


    // Output options
    outdir = "result"

    // Trimming options -- bbduk
    bbduk_k=23
    hdist=1
    mink=11
    adapter_ref="/hpcf/apps/bbmap/install/37.28/resources/adapters.fa"

    // Alignment options
    genome_ref="/research/groups/northcgrp/home/common/Vincentius/loc3car/Kyle/Scripts/hg38_reference/GRCh38.primary_assembly.genome.pUC19.Lambda.CarT.HHV6B.fa"

    // Methylation and SNP calling
    met_coverage = 1
    snp_coverage = 3

}

process {
    executor = 'lsf'

    withLabel: process_med {
        cpus = 1
        memory = '16 GB'
    }

    withLabel: process_high {
        cpus = 15
        memory = '16 GB'
    }
}

profiles {
    // conda needs to be enabled in the new nextflow version
    conda.enabled = true
}
