// Global default params, used in configs
params {

    // Input options
    input = null


    // Output options
    outdir = 'results'

    // Trimming options -- bbduk
    bbduk_k=23
    hdist=1
    mink=11
    ref="/hpcf/apps/bbmap/install/37.28/resources/adapters.fa"

}

process {
    executor = 'lsf'
    cpus = 1

    withLabel: process_med {
       memory = '8 GB'
    }

    withLabel: process_high {
       memory = '64 GB'
    }
}